.home_page,
.buy_page,
.profile_page {
  min-height: 900px;
  height: fit-content;
  margin: 0 auto 2rem auto;
  width: 70%;
  z-index: 1;

  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

.buy_page {
  .listItem {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem 2rem;
    min-height: 1021px;
  }
  .selectPage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito";
    font-size: 14px;
    cursor: default;
    margin-top: 2rem;
    span {
      font-size: 20px;
      cursor: pointer;
    }
  }
  .selectBuy {
    width: 100%;
    font-size: 30px;
    span {
      cursor: pointer;
    }
  }
  .selectMain {
    margin-top: 1rem;
    display: flex;
    .selectMain_g {
      display: flex;
      flex-direction: column;
    }
  }
  .selectMain_g {
    display: flex;
    padding-left: 3rem;
    flex-direction: column;
    width: 100%;
  }
}

.profile_page {
  .menuBar {
    width: 100%;
    border-bottom: 0.3px solid #828282;
    font-family: "Work Sans";
    font-weight: 500;
    color: #4a4a4a;
    div {
      display: flex;
      justify-content: flex-start;
      width: 50%;
      transition: width 2s;
      .select {
        border-bottom: 3px solid #5f8d6c;
      }
      div {
        justify-content: center;
        padding: 0.5rem 0;
        cursor: pointer;
        label {
          cursor: pointer;
        }
      }
    }
  }
  .main_manu {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem 2rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
