.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 10%;
  z-index: 990;

  .navbar_life,
  .navbar_right {
    display: flex;
    flex: 1;
    z-index: 991;
  }

  .navbar_life {
    font-family: "Abhaya Libre", serif;
    justify-content: flex-start;
    color: #5f8d6c;
    font-size: 36px;
    font-weight: 800;
    line-height: 42.47px;
    p {
      z-index: 992;
      margin: 0;
      cursor: pointer;
    }
  }
  .navbar_right {
    font-family: "Nunito", sans-serif;
    justify-content: flex-end;
    align-items: center;
    color: #333333;
    font-size: 20px;

    a {
      margin: 0rem 1.5rem;
      z-index: 992;
    }
    button {
      background: #5f8d6c;
      border-radius: 74px;
      padding: 0.3rem 0.9rem;
      width: max-content;
      height: max-content;
      border: none;
      cursor: pointer;
      font-family: "Nunito", sans-serif;
      font-size: 20px;
      color: #ffffff;
      transition: 0.4s;
    }
    button:hover {
      transition: 0.4s;
      background: #70a07e;
    }
  }
}

.footer {
  z-index: 990;
  background-color: #f2f2f2;
  font-family: "Prompt", sans-serif;

  a {
    cursor: pointer;
  }
  .main {
    z-index: 991;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    padding: 3rem 0;

    .head {
      z-index: 992;
      font-family: "Abhaya Libre", serif;
      justify-content: flex-start;
      color: #5f8d6c;
      font-size: 84px;
      font-weight: 800;
      line-height: 99.09px;
      p {
        cursor: pointer;
      }
    }

    div {
      z-index: 992;
      font-weight: 300;
      display: flex;
      flex-direction: column;

      p:first-child {
        margin: 1.5rem 0;
        cursor: default;
        font-size: 14px;
        line-height: 48px;
      }
      p {
        margin: 0.3rem 0;
        cursor: pointer;
        font-size: 14px;
        line-height: 33px;
      }

      div {
        flex-direction: row;
        a {
          margin: 0 0.4rem;
          font-size: 20px;
        }
      }
    }
  }

  .sub {
    z-index: 991;
    border-top: 0.7px solid #bcbcbc;
    width: 80%;
    margin: auto;
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
    color: #717171;
    font-size: 12px;
    font-weight: 300;
    line-height: 35px;

    a {
      margin: 0rem 1rem;
    }
  }
}
